<%- include('./partials/nav') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <h1>Full Menu</h1>

    <ul>
      <h1>Mains</h1>
      <% menu.forEach((elem)=>{ %> <% if(elem.category =='mains'){ %>
      <li>
        name : <%= elem.name %> price : <%= elem.price %>$ rating : <%=
        elem.rating %> details : <%= elem.details %>
      </li>
      <% } %> <% }) %>
      <h1>Desserts</h1>
      <% menu.forEach((elem)=>{ %> <% if(elem.category =='desserts'){ %>
      <li>
        name : <%= elem.name %> price : <%= elem.price %>$ rating : <%=
        elem.rating %> details : <%= elem.details %>
      </li>
      <% } %> <% }) %>
      <h1>Sides</h1>
      <% menu.forEach((elem)=>{ %> <% if(elem.category =='sides'){ %>
      <li>
        name : <%= elem.name %> price : <%= elem.price %>$ rating : <%=
        elem.rating %> details : <%= elem.details %>
      </li>
      <% } %> <% }) %>
    </ul>
  </body>
</html>
